@model DetallesView

@{ 
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Amigos Detalles";
}

<h3>@Model.Titulo</h3>
<h5>@Model.SubTitulo</h5>

<div>Nombre:    @Model.amigo.Nombre</div>
<div>Email:     @Model.amigo.Email</div>
<div>Ciudad:    @Model.amigo.Ciudad</div>